.apps-section {
    padding: 0 25px;
    margin-top: 70px;

    .section-image {
        @include media('<xl') {
            margin-left: -120px;
        }
    }

    .app-logos {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;

        > img {
            width: 100px;
            margin: 0 15px;
        }
    }

    .section-title {
        @include fontSize(26px);
        @include lineHeight(31px);
        color: $color-primary;
        font-weight: 700;
        max-width: 350px;
    }

    .section-description {
        @include fontSize(20px);
        @include lineHeight(24px);
        max-width: 500px;
        margin-top: 20px;
    }

    @include media('>=lg') {
        padding: 0;
        margin-top: 0;

        .app-logos {
            justify-content: flex-start;
            margin-top: 0;

            > img {
                width: 140px;
                margin: 0;

                &:first-child {
                    margin-right: 100px;
                }
            }
        }

        .section-title {
            @include fontSize(26px);
            @include lineHeight(31px);
        }

        .section-description {
            @include fontSize(16px);
            @include lineHeight(19px);
        }
    }
}

.main-app-section {
    padding: 0 25px;
    margin-top: 100px;
    overflow: hidden;

    .section-image {
        @include media('<xl') {
            margin-right: -100px;
        }
    }

    .wrapper {
        margin-top: 70px;
        text-align: center;

        img {
            width: 120px;
        }

        .section-title {
            margin-top: 45px;
            @include fontSize(26px);
            @include lineHeight(31px);
            color: $color-primary;
            font-weight: 700;
            max-width: 350px;

            .featured {
                color: $color-secondary;
            }
        }
    }

    @include media('>=lg') {
        padding: 0;
        margin-top: 0;

        .wrapper {
            margin-top: 0;
            text-align: left;

            img {
                width: 170px;
            }
        }
    }
}

.last-app-section {
    display: flex;
    align-items: center;
    padding: 100px 25px;
    min-height: 100vh;

    .wrapper {
        display: flex;
        justify-content: center;
        text-align: center;

        .icon {
            display: none;
            width: 150px;
            margin-right: 50px;
            flex-shrink: 0;
        }

        .text {
            max-width: 430px;

            .title {
                @include fontSize(20px);
                @include lineHeight(24px);
                color: $color-primary;
                font-weight: 700;
                margin: 20px 0 30px;
            }

            .cta {
                margin-top: 40px;

                @include media('>=lg') {
                    margin-top: 0;
                }
            }
        }
    }

    @include media('>=lg') {
        height: 500px;
        background-image: url(/assets/img/footer.png);
        background-repeat: no-repeat;
        background-size: 101% auto;
        background-position: bottom left;
        margin-bottom: -2px;
        padding: 0;
        padding-top: 100px;
        padding-bottom: 100px;

        .wrapper {
            justify-content: flex-start;
            text-align: left;

            .icon {
                display: block;
            }
        }
    }
}

footer {
    background: $color-primary;
    color: #fff;
    padding: 80px 20px 30px;

    .desktop {

        .main-footer-col {
            display: flex;
            flex-flow: column;
            max-width: 300px;
            @include fontSize(22px);
            @include lineHeight(26px);
            font-weight: 700;
            margin-right: 20px;

            img {
                width: 150px;
                margin-bottom: 30px;
            }

            @include media('>=xl') {
                max-width: 400px;
                margin-right: 50px;
            }
        }

        .link {
            @include fontSize(16px);
            @include lineHeight(19px);
            margin: 10px 0;
        }

        .cta {
            color: #fff;
            background: none;

            &:hover {
                color: #fff;
            }
        }

        .bottom {
            display: flex;
            height: 75%;
            align-items: flex-end;
        }
    }

    .mobile {
        min-height: 80vh;

        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;

            img {
                width: 120px;
            }
        }

        .demonstration {
            @include fontSize(20px);
            @include lineHeight(24px);
            font-weight: 700;
            margin-bottom: 50px
        }

        .links {
            margin-top: 100px;
            margin-bottom: 20px;

            .link {
                margin: 10px 0;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .heading {
        @include fontSize(20px);
        @include lineHeight(24px);
        margin: 5px 0;

        @include media('>=lg') {
            font-weight: 500;
        }
    }

    .news {
        display: flex;
        align-items: center;

        input {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #fff;
            background: none;
            color: #fff;
            caret-color: #fff;
            padding: 2px;
            height: 25px;

            &:focus {
                color: #fff;
                background: none;
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                color: #ececec;
            }
        }

        button {
            color: #fff;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    @include media('>=lg') {
        padding: 80px 20px;
    }
}
