.warranties-section {
    background: $color-primary-alt;
    padding: 35px 0 15px;

    .tablet {
        display: flex;
        flex-flow: column;
        align-items: center;

        img {
            width: 80%;

            @include media('>=lg') {
                width: 100%;
            }
        }

        .play-cta {
            display: none;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            @include fontSize(20px);
            line-height: 1;
            color: $color-primary;
            font-weight: 700;
            text-decoration: none;

            img {
                width: 35px;
                margin-right: 20px;
            }

            span {
                padding-top: 2px;
            }

            @include media('>=lg') {
                display: flex;
            }
        }
    }

    .swiper {
        height: 800px;
    }
}

.warranties-header-section {
    display: flex;
    align-items: flex-end;
    text-align: center;
    @include fontSize(22px);
    @include lineHeight(29px);
    font-weight: 700;
    color: #fff;
    background-image: url(/assets/img/mobile-warranty-header.png);
    background-repeat: no-repeat;
    background-size: 101% 100%;
    margin-bottom: -2px;
    padding: 100px 20px 40px;

    .crossed {
        text-decoration: line-through;
        color: $color-primary;
    }

    .featured {
        color: $color-secondary;
    }

    @include media('>=lg') {
        @include fontSize(32px);
        @include lineHeight(39px);
        height: 450px;
        background-image: url(/assets/img/warranty-top.png);
    }
}

.warranties-footer-section {
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    background-image: url(/assets/img/mobile-warranty-bottom.png);
    background-repeat: no-repeat;
    background-size: 101% 100%;
    margin-top: -2px;
    padding-bottom: 100px;

    .cta {

        @include media('>=lg') {
            justify-content: center;
        }
    }

    @include media('>=lg') {
        height: 500px;
        background-image: url(/assets/img/warranty-bottom.png);
    }
}
