@mixin media($conditions...) {
    @for $i from 1 through length($conditions) {
        $conditions: set-nth($conditions, $i, parse-expression(nth($conditions, $i)));
    }

    $branches: get-query-branches($conditions);
    $query: '';

    @each $branch in $branches {
        @if (str-length($query) != 0) {
            $query: $query + ', ';
        }

        $query: $query + $branch;
    }

    @media #{$query} {
        @content;
    }
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@mixin lineHeight($size) {
    line-height: $size;
    line-height: calculateRem($size);
}
