.warranty {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    max-width: 500px;
    margin-top: 80px;
    text-align: center;

    .title {
        @include fontSize(26px);
        @include lineHeight(31px);
        font-weight: 700;
        margin: 15px 0 20px;
    }

    .description {
        @include fontSize(18px);
        @include lineHeight(21px);
        font-weight: 500;
    }

    &.-icon-offset {
        .icon {
            margin-left: -20px;
        }
    }

    @include media('>=lg') {
        margin-top: unset;
        text-align: left;
        align-items: flex-start;
    }
}
