html,
body {
    margin: 0px;
    padding: 0px;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 0 2px #000;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}
